.rdtpagination{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.rdtpagination-pages{
    padding: 2px;
}

.rdtpagination-pages__no{
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    margin: 0 1px;
}

.rdtpagination-pages__no--select{
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    margin: 0 1px;
    text-decoration: underline;
}

.rdtpagination-per-page{
    height: 23px;
    border-radius: 5px;
    padding: 0 4px;
    margin: 0 5px;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}