.pagination{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.pages--center{
    justify-content: center;
}
.pages--right{
    justify-content: right;
}
.pages--left{
    justify-content: left;
}

.pages__no{
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    margin: 0 1px;
}

.per-page{
    height: 23px;
    border-radius: 5px;
    padding: 0 4px;
    margin: 0 5px;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}