.rdtmenu-main {
  height: 35px;
  position: relative;
  border-bottom: 2px solid;
  padding: 8px;
}

.rdtmenu-select {
  height: 35px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 8px;
}

.rdtmenu-title{
  font-size: var(--font-medium);
  position: sticky;
  left: 47%;
}

