.main-block{
  height: 35px;
  position: relative;
}

.main-block__img{
  cursor: pointer;
  margin: 2px 4px;
}

.show-column {
  list-style: none;
  position: absolute;
  top: 10px;
  z-index: 2;
  padding: 15px;
  background-color: var(--second-color);
  border: 1px solid var(--text-color);
  border-radius: 7px;
}

.search{
  display: inline;
  position: absolute;
  top: 3px;
  border: 2px solid var(--text-color);
  border-radius: 7px;
  padding: 0 2px;
  height: 25px;
}

.search__input{
  border:none;
  outline: none;
  height: 15px;
}

.search__close{
  color: var(--text-color);
  border: none;
  background-color: var(--second-color);
  margin-top: 2px;
  cursor: pointer;
}

.select-block{
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.filter{
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--second-color);
  position: absolute;
  padding: 10px 5px;
}

.filter-item{
  display: flex;
  justify-items: center;
}

.filter-item__column{
margin: 0 3px;
height: 25px;
}

.filter-item__condition{
  margin: 0 3px;
  height: 25px;
  
}

.filter-item__text{
  margin: 0 3px;
  height: 19px;
}

.filter__add{
  cursor: pointer;
}

.filter-list{
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.filter-list__li{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-bottom: 1px solid var(--text-color);
  margin: 5px 0;
  padding: 5px 0;
}

.filter-list__remove{
  cursor: pointer;
}