.rdttable-nodata {
    text-align: center;
    font-size: var(--font-xlarge);
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 5px 0;
}

.rdttable {
    padding: 4px 8px 12px 8px;
    border-collapse: collapse;
    width: 100%;
}

.rdttable-resizable-column {
    resize: horizontal;
    overflow: auto;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid;
}

.rdttable-row__select {
    text-align: center;
}
.rdttable-row__select--res {
    text-align: center;
}

.rdttable-row__data {
    text-align: center;
}
.rdttable-row__data--res {
    text-align: center;
}

.rdttable-header__label {
    cursor: pointer;
}

.rdttable-row__data-cell {
    display: block;
    width: 95%;
}
.rdttable-row__data-cell--res {
    display: block;
    width: 95%;
}

.rdttable-row__data-label {
    display: none;
}
.rdttable-row__data-label--res {
    display: none;
}



@media only screen and (max-width: 900px) {

    .rdttable-header--res {
        display: none;
    }

    .rdttable-row--res {
        border-top: 2px solid;
        border-bottom: 2px solid;
        width: 100%;
    }

    .rdttable-row__select--res {
        width: 10px;
        border: none;
    }

    .rdttable-row__data--res {
        display: block;
        float: left;
        width: 100%;
    }
    
    .rdttable-row__data--res:last-child {
        border: none;
    }

    .rdttable-row__data-cell--res {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: start;
    }

    .rdttable-row__data-label--res {
        display: inline;
    }
}